### Prompt 1

You are expert at  merging tables columns between two tables with different column names even though they mean the same or their values are similar

### Prompt 2

Given this table, can you create short descriptions of what these column must mean in context of the table

### Prompt 3

# I entered the entire table 1 columns
Date_of_Policy,FullName,Insurance_Plan,Policy_No,Monthly_Premium,Department,JobTitle,Policy_Start,Full_Name,Insurance_Type,Policy_Num,Monthly_Cost
05/01/2023,John Doe,Gold Plan,AB-12345,150.00,IT,Software Engineer,05/01/2023,John Doe,Gold,AB-12345,150.00
05/02/2023,Jane Smith,Silver Plan,CD-67890,100.00,HR,HR Manager,05/02/2023,Jane Smith,Silver,CD-67890,100.00
05/03/2023,Michael Brown,Bronze Plan,EF-10111,50.00,Marketing,Marketing Coordinator,05/03/2023,Michael Brown,Bronze,EF-10111,50.00
05/04/2023,Alice Johnson,Gold Plan,GH-12121,150.00,Finance,Financial Analyst,05/04/2023,Alice Johnson,Gold,GH-12121,150.00
05/05/2023,Bob Wilson,Silver Plan,IJ-13131,100.00,Sales,Sales Executive,05/05/2023,Bob Wilson,Silver,IJ-13131,100.00
05/06/2023,Carol Martinez,Bronze Plan,KL-14141,50.00,Operations,Operations Manager,05/06/2023,Carol Martinez,Bronze,KL-14141,50.00
05/07/2023,David Anderson,Gold Plan,MN-15151,150.00,Legal,Attorney,05/07/2023,David Anderson,Gold,MN-15151,150.00
05/08/2023,Eva Thomas,Silver Plan,OP-16161,100.00,Product,Product Manager,05/08/2023,Eva Thomas,Silver,OP-16161,100.00
05/09/2023,Frank Jackson,Bronze Plan,QR-17171,50.00,Engineering,Engineer,05/09/2023,Frank Jackson,Bronze,QR-17171,50.00
05/10/2023,Grace White,Gold Plan,ST-18181,150.00,Design,Graphic Designer,05/10/2023,Grace White,Gold,ST-18181,150.00

### Prompt 4

Give me description of column names that are unique only # As it returned me dupes as well

### Prompt 5

Here is another table, which have similar columns and I would like to map the columns between Table 1 and Table 2. For example - FullName and Name could be the same column  just named differently. I would want you to identify similar columns between two table and  alert me in case some column merge look ambiguous or duplicate.

PolicyDate,Name,PlanType,Policy_ID,PremiumAmount,Hobby,MaritalStatus,StartDate,Employee_Name,Plan_Name,PolicyID,Cost
2023-05-01,Doe, John,GoldPackage,AB12345,Photography,Married,2023-05-01,John Doe,Gold,AB12345,150
2023-05-02,Smith, Jane,SilverPackage,CD67890,Reading,Single,2023-05-02,Jane Smith,Silver,CD67890,100
2023-05-03,Brown, Michael,BronzePackage,EF10111,Traveling,Divorced,2023-05-03,Michael Brown,Bronze,EF10111,50
2023-05-04,Johnson, Alice,GoldPackage,GH12121,Cooking,Married,2023-05-04,Alice Johnson,Gold,GH12121,150
2023-05-05,Wilson, Bob,SilverPackage,IJ13131,Hiking,Single,2023-05-05,Bob Wilson,Silver,IJ13131,100
2023-05-06,Martinez, Carol,BronzePackage,KL14141,Swimming,Divorced,2023-05-06,Carol Martinez,Bronze,KL14141,50
2023-05-07,Anderson, David,GoldPackage,MN15151,Gaming,Married,2023-05-07,David Anderson,Gold,MN15151,150
2023-05-08,Thomas, Eva,SilverPackage,OP16161,Painting,Single,2023-05-08,Eva Thomas,Silver,OP16161,100
2023-05-09,Jackson, Frank,BronzePackage,QR17171,Writing,Divorced,2023-05-09,Frank Jackson,Bronze,QR17171,50
2023-05-10,White, Grace,GoldPackage,ST18181,Dancing,Married,2023-05-10,Grace White,Gold,ST18181,150

### Prompt 6

Choose the most suitable candidate when ambiguous and map the  columns from the previous two table to the following format. And also make sure to map all date types in the format mm.dd.yyyy.

### Prompt 7

Date,EmployeeName,Plan,PolicyNumber,Premium
01-05-2023,John Doe,Gold,AB12345,150
02-05-2023,Jane Smith,Silver,CD67890,100
03-05-2023,Michael Brown,Bronze,EF10111,50
04-05-2023,Alice Johnson,Gold,GH12121,150
05-05-2023,Bob Wilson,Silver,IJ13131,100
06-05-2023,Carol Martinez,Bronze,KL14141,50
07-05-2023,David Anderson,Gold,MN15151,150
08-05-2023,Eva Thomas,Silver,OP16161,100
09-05-2023,Frank Jackson,Bronze,QR17171,50
10-05-2023,Grace White,Gold,ST18181,150

### Prompt 8


The desired date format is dd.mm.yyyy. Can you fix that  and write a  all in one code for - remapping column names from the 2 tables and saving them in the desired table schema

### Prompt 9

Got the code as in generated_code.ipynb